<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tiff2ecw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tiff2ecw.Properties.Settings>
            <setting name="imaginePath" serializeAs="String">
                <value>C:\Program Files\Intergraph\ERDAS IMAGINE 2014</value>
            </setting>
            <setting name="connString" serializeAs="String">
                <value>Data Source=isss,1433;Initial Catalog=ISSS;Integrated Security=false;User ID=sa;Password=P@ssw0rd</value>
            </setting>
            <setting name="thumbnailSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="acldbPath" serializeAs="String">
                <value>D:\Users\Desktop</value>
            </setting>
        </tiff2ecw.Properties.Settings>
    </userSettings>
</configuration>